<section class="users-section">
  <ul class="users-list">
    <% @invites.each do |user| %>
      <li>
        Name: <%= user.name %>
        <span class="profile-link">
          <%= link_to 'See Profile', user_path(user), class: 'profile-link' %>
        </span>
        <%= button_to "Accept", confirm_friend(user), class: 'btn btn-primary' %>
        <%= button_to "Reject", reject_friend(user), class: 'btn btn-primary' %>
      </li>
    <% end %>
  </ul>
</section>

